**/.DS_Store
/.history
**/*.pyc
*.zip
**/node_modules/
modal.toml
/cli/test_venv
/nyc-parking-phase1-fixed
/nyc-parking-test-phase1
/parkingregulations-nyc-2025-12-11-captured
/parkingregulations-nyc-2025-12-12-captured
